---
import TestimonialCarousel from "../components/TestimonialCarousel.astro";
---

<section class="mb-40">
  <h2
    class="text-center text-4xl bg-gradient-to-t from-[#CBD5E1] to-[#FFFFFF] to-[hsla(0, 0%, 100%, 1)] inline-block text-transparent bg-clip-text font-bold tracking-tight"
  >
    Join 100s of other happy users
  </h2>

  <TestimonialCarousel />
</section>
